name: time_gem
description: A time management app with AI-powered task scheduling and calendar integration.
version: 0.1.0

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.3
  bloc: ^8.1.2
  google_sign_in: ^6.2.1
  googleapis: ^12.0.0
  sqflite: ^2.3.0


  cupertino_icons: ^1.0.6
  googleapis_auth: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
